div class="average-star#{clinic.id}"
    javascript:
      $('.average-star#{clinic.id}').raty({
        size: 36,
        starOff: "/assets/star-off.png",
        starOn: "/assets/star-on.png",
        starHalf: "/assets/star-half.png",
        half: true,
        readOnly: true,
        score: "#{avg(clinic.reviews.map(&:score))}",  // 平均点を算出し、round関数で切り上げ
      });

    .clinic-score-average
      // = clinic.reviews.average(:score).to_f.round(2)
      // mapを使用することでSQLが発行されない（N+1問題）
      = avg(clinic.reviews.map(&:score))