div class="average-star#{clinic.id}"
  javascript:
    $('.average-star#{clinic.id}').raty({
      size: 36,
      starOff: "/assets/star-off.png",
      starOn: "/assets/star-on.png",
      starHalf: "/assets/star-half.png",
      half: true,
      readOnly: true,
      score: "#{avg(clinic.reviews.map(&:score))}",
    });

  .clinic-score-average
    - if clinic.reviews.map(&:score).present?
      = avg(clinic.reviews.map(&:score))
    - else
      | 0.0