// Place all the styles related to the Admin::inquiry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inquiry_show {
  margin-top: 40px;
}

.inquiry_index_link {
  margin-top: 30px;
}

th.inquiry {
  width: 25%;
}

.inquiry_index {
  margin-top: 40px;
}