// Place all the styles related to the member::members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pfofile-box {
  margin-top: 50px;
}

.col-xs-2.profile-image {
  border-radius: 50%;
}

.table.follow-follower {
  margin-top: 10px;
  border-bottom: solid 1px rgba(197, 197, 197, 0.648);
}

.profile-forms {
  border: solid 1px rgba(185, 184, 184, 0.648);
  background-color: white;
  padding: 20px;
}

table.table.member-info {
  border: solid 1px rgba(185, 184, 184, 0.648);
  margin-top: 20px;
}

.edit-link-box {
  margin-top: 20px;
  border: solid 1px rgba(185, 184, 184, 0.648);
  background-color: white;
}

li.edit-link {
  margin-left: 15px;
  margin-bottom: 20px;
}

.quit-form {
  margin-top: 30px;
}

.col-xs-4.quit-form {
  border: solid 1px rgba(185, 184, 184, 0.648);
  background-color: white;
}

.quit-btn {
  margin-top: 20px;
}

.back-link {
  margin-top: 20px;
  margin-bottom: 10px;
}

.member-follow {
  margin-top: 10px;
  text-align: center;
}


// member-registrations-new, .member-sessions-new

.member-registration, .member-session {
  border: solid 1px rgba(185, 184, 184, 0.648);
  background-color: white;
  margin-top: 40px;
}