// Place all the styles related to the member::members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pfofile-box {
  margin-top: 50px;
}

.profile-image {
  margin-top: 10px;
}

.profile-forms {
  border: solid 1px rgba(185, 184, 184, 0.648);
  background-color: white;
  padding: 20px;
}

.edit-link-box {
  border: solid 1px rgba(185, 184, 184, 0.648);
  background-color: white;
  padding-bottom: 5px;
}

.edit-link {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.quit-form {
  margin-top: 30px;
}

.col-xs-4.quit-form {
  border: solid 1px rgba(185, 184, 184, 0.648);
  background-color: white;
}

.quit-btn {
  margin-top: 20px;
}

.back-link {
  margin-top: 20px;
  margin-bottom: 10px;
}


// member-registrations-new, .member-sessions-new

.member-registration, .member-session {
  border: solid 1px rgba(185, 184, 184, 0.648);
  background-color: white;
  margin-top: 40px;
}