// Place all the styles related to the member::notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.col-xs-6.notification-index {
  background-color: white;
  border: 1px solid rgba(185, 184, 184, 0.648);
  margin-top: 40px;
  padding: 10px 40px 20px 40px;
  margin-bottom: -60px;
}

.n-circle {
  position: absolute;
  margin-left: -6px;
  margin-top: -2px;
  font-size: 0.9em;
  color: gold;
}