// Place all the styles related to the member::reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.review-box {
  borde: 1px solid rgba(185, 184, 184, 0.648);
  padding: 20px;
  background-color: white;
  margin-top: 60px;
  margin: 60px auto;
}

.review-form {
  margin-top: 20px;
}

.tagit.ui-widget.ui-widget-content.ui-corner-all {
  border-color: inherit;
}

.review-submit-btn {
  margin-top: 10px;
}

.review-box {
  margin: 60px auto;
  width: 40%;
}

.return-btn.text-right {
  margin-right: -5px;
  padding-bottom: 10px;
}

.waite-time {
  margin-right: 20px;
  margin-top: 10px;
}